
  <!-- slider -->
  <section class="carouselHome pt40 pb40 color2">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="owl-carousel1 nekoDataOwl" data-neko_items="1" data-neko_singleitem="true" data-neko_paginationnumbers="true" data-neko_transitionstyle="backSlide">
    <!--item -->
    <div class="item">
    <div class="row"> 
      <!--Banner Tab Center-->
      <style>
  
      
      </style>
    
      
      <!---->
       <div class=" top-banner-banner " id='hideme'>
       <div class="top-grey-bg-banner" >
        <a style=" float:right;  z-index:99999;  position:relative;" href='#' class='close_notification top-25' title='Click to Close'>
        	<%=image_tag "crose-button.png", size: "64X28", alt:"Close"%>

        <!-- <img src="images/crose-button.png" width="64" height="28" alt="Close" onClick="hide('hideme')" /> -->
        </a
>
<br> <br>

<p class="green-text text-center top-popup-heading ">We EXIST TO GET YOU YOUR FOOD FAST!</p>
<p class=" text-center heading-dark-grey we-et ">we et people what they want, when they want it- wherever they are. it’s simple...
</p>
</div>
<div style="clear:both"></div>
<div class="col-md-4 peding-left-right ">
<center>
	<%=image_tag "images/1-home.png", :style=>"text-align:center"%>
	<!-- <img style="text-align:center" src="images/1-home.png"  alt="" /> -->
</center>
<p class="green-text heding-popup-banner">You place your order</p>
<p class=" heading-dark-grey">Simple order wherever you are hungry
for at MyFoodLast.com-the easy and
fast way.</p>

</div>
<div class="col-md-4 peding-left-right ">
<center>
	<%=image_tag "2-home.png"%>
	<!-- <img src="images/2-home.png"  alt="" /> -->
</center>
<p class="green-text heding-popup-banner">We send it to the takeaway</p>
<p class=" heading-dark-grey">we immediately beam your order to the
takeaway. Here at the press of a button
it’s forworded to the kitchen</p>
</div>
<div class="col-md-4  peding-left-right">
<center>
	<%=image_tag "3-home.png"%>
	<!-- <img src="images/3-home.png"  alt="" /> -->
</center>
<p class="green-text heding-popup-banner">Your food arrives...Yum!</p>
<p class=" heading-dark-grey">When your food’s ready. the takeaway
delivers it or you collect. tuck in and enjoy</p>

      
       <button type="button" class="btn btn-success btn-lg new-send  order-button-popup  ">READY TO ORDER</button>
   </div>    
       
      <!-- End footer -->
</div>
      
      
      
        <section class="row mb15">
      
      
      
      
      
      
      <!---->
      
       <div class="col-md-12"> </div>
     
     
        <div class="bannerheading">
          <div class="top-heading">The Fast Way to Order</div>
          <div class="top-heading2">TAKEAWAY FOR COLLECTION </div>
          <div class="top-heading2"> OR DELIVERY </div>
        </div>
         <div class="banner-search-box centeredForm">
        <div class="bs-example bs-example-tabs mb30">
          <ul id="myTab" class="nav nav-tabs">
         
         
            <li class="active"><a href="#home-tab" data-toggle="tab"><span class="fonts-size-icons" data-icon="b" class="icon"></span> <span class="search-font">Delivered</span></a></li>
            <li class=""><a href="#profile" data-toggle="tab"><span class="fonts-size-icons" data-icon="a" class="icon"></span> <span class="search-font" >Collect it</span></a></li>
            
          </ul>
          <div id="myTabContent" class="tab-content tab-content1">
            <div class="tab-pane fade active in" id="home-tab">
              <form  class="form-inline" role="form">
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control lg search-font-fild" placeholder="Enter your full postcode e.g. WA6 7QG">
                  <span class="input-group-btn">
                  <button type="submit" class="btn btn-success search-font-button"><i class="icon-search"></i> Search</button>
                  </span> </div>
              </form>
            </div>
            <div class="tab-pane fade" id="profile">
              <form class="form-inline" role="form">
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control lg search-font-fild" placeholder="Enter your full postcode e.g. WA6 7QG">
                  <span class="input-group-btn">
                  <button type="submit" class="btn btn-success search-font-button "> <i class="icon-search"></i> Search</button>
                  </span> </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"> 
      <!--empty tab--> 
    </div>
  </section>
  
  <!--End Tab-->
  
  <div class="col-md-8 col-md-offset-1"> </div>
</div>
<!--item -->

</div>
</div>
</div>
</div>
</section>
<!-- slider -->

<section  id="content"> 
  
  <!-- services -->
  <section id="services">
    <div style="padding-top: 1px;" class="container pt40 pb40">
      <div class="">
        <div style="margin-bottom: 2px;" class="span12 mb40">
          <h1>Why not try</h1>
        </div>
      </div>
      <section class="row mb15"> 
        <!--pro left-->
        <div class="col-md-6 col-md-0">
          <hr>
          <div class="col-md-4">
            <article class="boxIcon"> <a href="#">
              <div class="imgBorder">
              	<%=image_tag "company_logo.png", :class=>"img-responsive mrgin_auto"%>
               <!-- <img class=" img-responsive mrgin_auto" src="images/company_logo.png" alt="" /> --> 
           	</div>
              </a> </article>
          </div>
          <div class="col-md-4">
            <div class="red_text"> Dixy Chicken</div>
            <div class="red-text"> African, French</div>
            <div class="red-text">M40</div>
            <div class="red-text"> 
            	<%=image_tag "star.png"%>
            	<!-- <img  src="images/star.png" alt="" /> --> 
            	<%=image_tag "star.png"%>
            	<!-- <img  src="images/star.png" alt="" /> --> 
            	<%=image_tag "star.png"%>
            	<!-- <img  src="images/star.png" alt="" /> --> 
            	<%=image_tag "star.png"%>
            	<!-- <img  src="images/star.png" alt="" />  -->
            	<%=image_tag "star.png"%>
            	<!-- <img  src="images/star.png" alt="" />  -->
            </div>
          </div>
          <div class="col-md-4 text-right ">
            <div class="red_text"> &nbsp;</div>
            <div class="red_text"> 20% off</div>
            <div class="black_text">Orders over £22</div>
          </div>
        </div>
        <!--End pro left--> 
        
        <!--pro left-->
        <div class="col-md-6 col-md-0">
          <hr>
          <div class="col-md-4">
            <article class="boxIcon"> <a href="#">
              <div class="imgBorder">
              	<%=image_tag "company_logo.png", :class=>" img-responsive mrgin_auto"%>
               <!-- <img class=" img-responsive mrgin_auto" src="images/company_logo.png" alt="" />  -->
           </div>
              </a> </article>
          </div>
          <div class="col-md-4">
            <div class="red_text"> Dixy Chicken</div>
            <div class="red-text"> African, French</div>
            <div class="red-text">M40</div>
            <div class="red-text"> 
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<!-- <img  src="images/star.png" alt="" /> 
            	<img  src="images/star.png" alt="" /> 
            	<img  src="images/star.png" alt="" /> 
            	<img  src="images/star.png" alt="" /> 
            	<img  src="images/star.png" alt="" />  -->
            </div>
          </div>
          <div class="col-md-4 text-right ">
            <div class="red_text"> &nbsp;</div>
            <div class="red_text"> 20% off</div>
            <div class="black_text">Orders over £22</div>
          </div>
        </div>
        <!--End pro left--> 
        <!--pro left-->
        <div class="col-md-6 col-md-0">
          <hr>
          <div class="col-md-4">
            <article class="boxIcon"> <a href="#">
              <div class="imgBorder"> 
              	<%=image_tag "company_logo.png", :class=>" img-responsive mrgin_auto"%>
              	<!-- <img class=" img-responsive mrgin_auto" src="images/company_logo.png" alt="" />  -->
              </div>
              </a> </article>
          </div>
          <div class="col-md-4">
            <div class="red_text"> Dixy Chicken</div>
            <div class="red-text"> African, French</div>
            <div class="red-text">M40</div>
            <div class="red-text"> 
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<!-- <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" />  -->
            </div>
          </div>
          <div class="col-md-4 text-right ">
            <div class="red_text"> &nbsp;</div>
            <div class="red_text"> 20% off</div>
            <div class="black_text">Orders over £22</div>
          </div>
        </div>
        <!--End pro left--> 
        <!--pro left-->
        <div class="col-md-6 col-md-0">
          <hr>
          <div class="col-md-4">
            <article class="boxIcon"> <a href="#">
              <div class="imgBorder"> 
              	<%=image_tag "company_logo.png", :class=>" img-responsive mrgin_auto"%>
              	<!-- <img class=" img-responsive mrgin_auto" src="images/company_logo.png" alt=""/>  -->
              </div>
              </a> </article>
          </div>
          <div class="col-md-4">
            <div class="red_text"> Dixy Chicken</div>
            <div class="red-text"> African, French</div>
            <div class="red-text">M40</div>
            <div class="red-text">
             	<%=image_tag "star.png"%>
             	<%=image_tag "star.png"%>
             	<%=image_tag "star.png"%>
             	<%=image_tag "star.png"%>
             	<%=image_tag "star.png"%>
            	<!-- <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" /> --> </div>
          </div>
          <div class="col-md-4 text-right ">
            <div class="red_text"> &nbsp;</div>
            <div class="red_text"> 20% off</div>
            <div class="black_text">Orders over £22</div>
          </div>
        </div>
        <!--End pro left--> 
        <!--pro left-->
        <div class="col-md-6 col-md-0">
          <hr>
          <div class="col-md-4">
            <article class="boxIcon"> 
            	<a href="#">
           <div class="imgBorder">
           		<%=image_tag "company_logo.png", :class=>" img-responsive mrgin_auto"%>
               <!-- <img class=" img-responsive mrgin_auto" src="images/company_logo.png" alt="" />  -->
           </div>
              </a> </article>
          </div>
          <div class="col-md-4">
            <div class="red_text"> Dixy Chicken</div>
            <div class="red-text"> African, French</div>
            <div class="red-text">M40</div>
            <div class="red-text"> 
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<!-- <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" />  -->
            </div>
          </div>
          <div class="col-md-4 text-right ">
            <div class="red_text"> &nbsp;</div>
            <div class="red_text"> 20% off</div>
            <div class="black_text">Orders over £22</div>
          </div>
        </div>
        <!--End pro left--> 
        <!--pro left-->
        <div class="col-md-6 col-md-0">
          <hr>
          <div class="col-md-4">
            <article class="boxIcon"> <a href="#">
              <div class="imgBorder"> 
              	<%=image_tag "company_logo.png", :class=>" img-responsive mrgin_auto"%>

              	<!-- <img class=" img-responsive mrgin_auto" src="images/company_logo.png" alt="" />  --></div>
              </a> </article>
          </div>
          <div class="col-md-4">
            <div class="red_text"> Dixy Chicken</div>
            <div class="red-text"> African, French</div>
            <div class="red-text">M40</div>
            <div class="red-text"> 
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<%=image_tag "star.png"%>
            	<!-- <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" /> <img  src="images/star.png" alt="" /> --> </div>
          </div>
          <div class="col-md-4 text-right ">
            <div class="red_text"> &nbsp;</div>
            <div class="red_text"> 20% off</div>
            <div class="black_text">Orders over £22</div>
          </div>
        </div>
        <!--End pro left--> 
        
      </section>
    </div>
  </section>
